.container *{
    padding: 0;
    margin: 0;
}

.container{
    
}

.result{
    display: flex;
    flex-direction: row;
}

.textResult *v,.tableResult *{
 
}

p{
    font-size: 1rem;
    padding-right: 5px;
}

.showElements{
    display: inline-block;
    width:30px;
    height:20px;
}
