.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-top:2px solid lightgray;
    margin: 30px auto;
    width:90%;
    align-items: center;
}

.text{
    font-size: 1.2rem;
    margin-top:10px;
    margin-bottom: 4px;
    display: inline-block;
}

.explain{
    font-size: .5rem;
    display: inline-block;
}