button {
  cursor: pointer;
}


.container .title {
  display: flex;
}

.container .title .button {
  border: none;
  align-self: center;
  background: none;
}

.container .title .pagination {
  margin-left: auto;
  align-self: center;
}
.container .title .pagination .button {
  border: none;
  background: none;
}

.container .week {
  display: flex;
}

.container .week .weekday {
  width: calc(100% / 7);
  text-align: center;
}



.container .week .sunday {
  color: red;
}

.container .week .saturday {
  color: blue;
}

.container .date {
  margin-top: 20px;
}

.container .date .weekday {
  width: calc(100%/ 7);
  float: left;
  text-align: center;
  font-size: 1em;
  padding-bottom: 10px;
}

.container .date .sunday {
  color: red;
}

.container .date .saturday {
  color: blue;
}

.container .date .today {
  background-color: rgb(88, 111, 187);
  color: white;
  font-weight: 700;
  border-radius: 50%;
}