.container{
    display: flex;
    flex-flow: row-reverse;
    /* flex-direction: ; */
    flex-wrap: nowrap;
    width:200px;
    overflow: scroll;

}

/* ::-webkit-scrollbar {
    display: none;
    } */

.pillar{
display: flex;
flex-direction: column;
}

