.container{
    display: flex;
    flex-flow: row-reverse;
    /* flex-direction: ; */
    flex-wrap: nowrap;
    width:250px;
    overflow-x: scroll;

}


@media(min-width:700px){


    .container::-webkit-scrollbar{
   
    }
    
    .container::-webkit-scrollbar-thumb{
   
    }
    
    .container::-webkit-scrollbar-track {
    }
    

}

/* ::-webkit-scrollbar {
    display: none;
    } */

.pillar{
display: flex;
flex-direction: column;
}


.months{
    font-size: .5rem;
    margin:5px;
}