.container{
    display: flex;
    flex-flow: row-reverse;
    /* flex-direction: ; */
    flex-wrap: nowrap;
    /* width:250px; */
    overflow-x: scroll;

}


@media(min-width:700px){


    .container::-webkit-scrollbar{
   
    }
    
    .container::-webkit-scrollbar-thumb{
   
    }
    
    .container::-webkit-scrollbar-track {
    }
    

}

/* ::-webkit-scrollbar {
    display: none;
    } */

.pillar{
display: flex;
flex-direction: column;
/* border:1px solid black; */
}

.pillar .span{
    border:1.5px solid rgba(112,128,144,0.4);
    text-align: center;
    width: 100%;

}

.months{
    font-size: .5rem;
    margin:5px;
}