@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    background: #f9f9f9;
    margin: 30px auto;
    min-height: 400px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 9px 5px 45px -26px rgba(0,0,0,0.75);

    

}
.pillars{
    display: flex;
    flex-direction: column;
}

.element{
    border:1px solid black;
    font-size:3rem;
    font-family: 'Nanum Gothic', sans-serif;
}

*{
    /* color:pink; */
}

.green{
    color:blue;
    background-color: chartreuse;
}

.blue{
    background-color: gold;
}

span{
    text-align: center;
}