@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

}
.pillars{
    display: flex;
    flex-direction: column;
}

.element{
    border:1px solid black;
    font-size:3rem;
    font-family: 'Nanum Gothic', sans-serif;
}

*{
    /* color:pink; */
}

.green{
    color:blue;
    background-color: chartreuse;
}

.blue{
    background-color: gold;
}

span{
    text-align: center;
}