



html, body{
  margin: 0;
  background: #f1f1f1;
  font-family: 'BMHANNAAir';

  
}

.App{
    display: flex;
    margin: 10px auto;
    height: auto;
    justify-content: center;
    flex-direction: column;
    max-width:500px;
    position: relative;
    box-shadow: 0px 35px 100px -35px rgba(0,0,0,0.4);
    padding-bottom: 30px;
  }


  @media(max-width:700px){
   .App{
   margin:auto;
    }
  }
  
  #black{
    background-color: gray;
  }

  #white{
    background-color: gainsboro;
  }
  #red{
    background-color: tomato;
  }
  #yellow{
    background-color: goldenrod;
  }
  #green{
    background-color: darkolivegreen;
  }
