
  @font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



html, body{
  margin: 0;
  background: #f1f1f1;
  font-family: 'BMHANNAAir';

  
}

.App{
    display: flex;
    margin: 10px auto;
    height: auto;
    justify-content: center;
    flex-direction: column;
    max-width:500px;
    position: relative;
    box-shadow: 0px 35px 100px -35px rgba(0,0,0,0.4);
  }