.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background: #f9f9f9;
    margin: 30px auto;
    min-height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    box-shadow: 9px 5px 45px -26px rgba(0,0,0,0.75);

}

h2{
    display: inline-block;
    text-align: center;
}

.genderSelect, .selectAmPm ,.dataSelect,.timeInput,.toSubmit{
    display: flex;
    align-items: center;

}
.genderSelect *,.genderSelect *,.dataSelect *,.selectAmPm *,.timeInput *{
    flex-grow:1;
    
}

.toSubmit{
    justify-content: center;
    
}

input,select{
    width:100px;
    height:50px;
    background-color: #e7e9eb;
    border-radius: 5px;
    border:0.8px solid rgb(129, 122, 122);
}

input[type="button"]{
    display: block;
    position: relative;
    width: 50px;
    padding: 0;
    margin: 10px 10px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: all 0.2s ;
    cursor: pointer;
    border:none;
    background-color: #d1d8e0;
    box-shadow: 0px 5px 2px 1px #5f6770;
}

input[type="button"].checked, button.checked{
    margin-top: 15px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 0px 0px #007144;
}


button{
 width: 100px;
 height:55px;
 border:1px solid gray;
}