.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    /* background: #f9f9f9; */
    margin: 30px auto;
    /* box-shadow: 9px 5px 45px -26px rgba(0,0,0,0.75); */
    font-size: 2rem;
    padding:20px;
    padding-top:10px;
    width: 87%;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    background-color: white;
}

@media(max-width:700px){
    .container{
      font-size: 1rem;
    }

    input,select{
        /* color:white; */
        font-size: 0.5rem;
    }

    h2{
    font-size: 0.5rem;
    }
  }
  

h2{
    display: inline-block;
    text-align: center;
}

.container *{
    padding-top:20px;
}

.genderSelect, .selectAmPm ,.dataSelect,.timeInput,.toSubmit{
    display: flex;
    align-items: center;

}
.genderSelect *,.genderSelect *,.dataSelect *,.selectAmPm *,.timeInput *{
    flex-grow:1;
    
}

.toSubmit{
    justify-content: center;
    
}

input,select{
    background-color:#F1F1F5;
    border:none;
    font-size: 1.5rem;
    color:var(--color-text);
}

.form{
    width: 100%;
    padding:0;
}

input[type="button"],.button{
    display: block;
    position: relative;
    padding: 0;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    transition: all 0.2s ;
    cursor: pointer;
    border:none;
    color:var(--color-grey);
    border:1px solid var(--color-unselected);
    background-color: white;
}

input[type="button"].checked, button.checked{
    border:1px solid var(--color-main);
    color: var(--color-main);
}


